@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-rows: 30% 70%;
    height: 100vh;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.breed {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.slideshow {
    border-top: 3px solid white;
    background: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.title{
    padding: 0.5rem;
    border: 2px solid white;
    margin: 0.5rem;
    text-shadow: 1px 1px black;
    box-shadow: 2px 2px black;
    border-radius: 5px;
}
.image-container {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

img {
    height: 100%;
    border: 5px solid white;
    width: 100%;
    animation: appear 0.7s linear;
    border-radius: 5px;
}

@keyframes appear {
    from{opacity:0;
        transform:scale(0.93);}
    to{opacity:1;
    transform:scale(1);}
}


select {
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .title {
        font-size: 3rem;
    }
    select {
        font-size: 2rem;
    }
}

@media screen and (min-width: 320px) {
    .image-container {
        width: 100%;
    }
}